*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    height: 100vh;
    max-width: 100%;
    background-color: rgb(30, 30, 109);
    display: flex;
    justify-content: center;
    align-items: center;
}
#boxContainer{
    height: 30em;
    width: 26em;
    background-color: white;
    justify-content: center;
    align-items: center;
    align-content: center; 
}
#boxContent{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 2em;
}
.btnIcon{
    height: 1.2em;
    padding-right: .4em;
 
}
.titleLine{
    font-size: 1em;
}
input{
    width: 26em;
    height: 3em;
    padding-left: .8em;
    outline: none;
    font-size: .8em;
    margin-top: .4em;
    margin-bottom: .6em;
}
.formEntryLine .createBtn{
    margin-top: .6em;
    padding: .8em .8em;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .1s;
    margin-top: 1em;
}
.createBtn{
    margin:  0 auto;
    width: 100%;
}
.formEntryLine .createBtn:hover{
    background-color: rgb(39, 39, 39);
}
.bottomBtns button{
    font-size: 1em;
    padding: .4em 1.8em;
    margin: .4em;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
}
.bottomBtns button:hover{
    background-color: rgb(39, 39, 39);
}
span{
    height: .9em;
}
.loginDont{
    padding-right: .25em;
}
