*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
#main{
    height: 100vh;
    max-width: 100%;
    background: linear-gradient(180deg, hsla(217, 100%, 50%, 1) 0%, rgb(42, 181, 245) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#boxContainer{
    height: 30em;
    width: 26em;
    background: linear-gradient(180deg, hsla(217, 100%, 50%, 1) 0%, rgb(42, 181, 245) 100%);
    justify-content: center;
    align-items: center;
    align-content: center; 
    box-shadow: 0px 0px 14px 1px rgb(0, 0, 0);
}
#boxContent{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 1em;
}
.titleLine{
    font-size: 1em;
    color: white;
}
input{
    width: 26em;
    height: 3em;
    padding-left: .8em;
    outline: none;
    font-size: .8em;
    margin-top: .5em;
    margin-bottom: .6em;
    background-color: rgba(166, 206, 252, 0.527);
    border: none;
    border-radius: 3px;
    color: white;
}
.usernameInput{
    margin-bottom: 1.4em;
}
.passwordInput{
    margin-bottom: 1em;
}
.formEntryLine .createBtn{
    margin-top: .6em;
    padding: .6em .8em;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: rgb(5, 122, 255);
    cursor: pointer;
    transition: .1s;
    margin-top: 1em;
}
.createBtn{
    margin:  0 auto;
    width: 100%;
}
.formEntryLine .createBtn:hover{
    background-color: rgb(39, 39, 39);
}
hr{
    width: 150px;
    height: 1px;
    position: relative;
    margin: .4em;
}
.orsignup{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.orsignup p{
    color: white;
}
.bottomBtns button{
    font-size: 1em;
    padding: .8em 2.4em;
    margin: .5em;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: rgb(5, 122, 255);
    cursor: pointer;
    width: 20.8em;
    height: 6;
    
    transition: .1s;
}
.bottomBtns button:hover{
    background-color: rgb(39, 39, 39);
}
.loginDont{
    padding-right: .25em;
    color: white;
}
label{
    color: white;
}
.loginLine{
    color: white;
    text-align: center;
    padding-right: 1.6em;
}
a{
    color: rgb(12, 68, 255);
}
i{
    padding-right: .4em;
}